In [2]:
!pip3 install langchain_community

Collecting langchain_community
  Downloading langchain_community-0.2.3-py3-none-any.whl (2.2 MB)
     ---------------------------------------- 2.2/2.2 MB 8.1 MB/s eta 0:00:00
Requirement already satisfied: PyYAML>=5.3 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (6.0)
Collecting langsmith<0.2.0,>=0.1.0
  Downloading langsmith-0.1.74-py3-none-any.whl (124 kB)
     -------------------------------------- 124.8/124.8 kB 7.2 MB/s eta 0:00:00
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (3.8.3)
Collecting tenacity<9.0.0,>=8.1.0
  Downloading tenacity-8.3.0-py3-none-any.whl (25 kB)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (1.4.39)
Collecting dataclasses-json<0.7,>=0.5.7
  Downloading dataclasses_json-0.6.6-py3-none-any.whl (28 kB)
Collecting langchain<0.3.0,>=0.2.0
  Downloading langchain-0.2.2-py3-none-any.whl (973 kB)
     ------------------------------------- 973.6/973.6 kB 10.2 MB/s eta 0:00:00
Collecting langchain-core<0.3.0,>=0.2.0
  Downloading langchain_core-0.2.4-py3-none-any.whl (310 kB)
     ------------------------------------- 310.4/310.4 kB 18.8 MB/s eta 0:00:00
Requirement already satisfied: requests<3,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (2.28.1)
Requirement already satisfied: numpy<2,>=1 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (1.24.3)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (6.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.3.3)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (4.0.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (2.0.4)
Requirement already satisfied: attrs>=17.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (21.4.0)
Collecting typing-inspect<1,>=0.4.0
  Downloading typing_inspect-0.9.0-py3-none-any.whl (8.8 kB)
Collecting marshmallow<4.0.0,>=3.18.0
  Downloading marshmallow-3.21.3-py3-none-any.whl (49 kB)
     ---------------------------------------- 49.2/49.2 kB 2.6 MB/s eta 0:00:00
Collecting langchain-text-splitters<0.3.0,>=0.2.0
  Downloading langchain_text_splitters-0.2.1-py3-none-any.whl (23 kB)
Collecting pydantic<3,>=1
  Downloading pydantic-2.7.3-py3-none-any.whl (409 kB)
     -------------------------------------- 409.6/409.6 kB 8.5 MB/s eta 0:00:00
Collecting packaging<24.0,>=23.2
  Using cached packaging-23.2-py3-none-any.whl (53 kB)
Collecting jsonpatch<2.0,>=1.33
  Downloading jsonpatch-1.33-py2.py3-none-any.whl (12 kB)
Collecting orjson<4.0.0,>=3.9.14
  Downloading orjson-3.10.3-cp39-none-win_amd64.whl (138 kB)
     -------------------------------------- 138.6/138.6 kB 8.6 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2->langchain_community) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2->langchain_community) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2->langchain_community) (2023.7.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain_community) (1.1.1)
Collecting jsonpointer>=1.9
  Using cached jsonpointer-2.4-py2.py3-none-any.whl (7.8 kB)
Collecting annotated-types>=0.4.0
  Downloading annotated_types-0.7.0-py3-none-any.whl (13 kB)
Collecting typing-extensions>=4.6.1
  Downloading typing_extensions-4.12.1-py3-none-any.whl (37 kB)
Collecting pydantic-core==2.18.4
  Downloading pydantic_core-2.18.4-cp39-none-win_amd64.whl (1.9 MB)
     ---------------------------------------- 1.9/1.9 MB 9.4 MB/s eta 0:00:00
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community) (0.4.3)
Installing collected packages: typing-extensions, tenacity, packaging, orjson, jsonpointer, annotated-types, typing-inspect, pydantic-core, marshmallow, jsonpatch, pydantic, dataclasses-json, langsmith, langchain-core, langchain-text-splitters, langchain, langchain_community
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.3.0
    Uninstalling typing_extensions-4.3.0:
      Successfully uninstalled typing_extensions-4.3.0
  Attempting uninstall: tenacity
    Found existing installation: tenacity 8.0.1
    Uninstalling tenacity-8.0.1:
      Successfully uninstalled tenacity-8.0.1
  Attempting uninstall: packaging
    Found existing installation: packaging 21.3
    Uninstalling packaging-21.3:
      Successfully uninstalled packaging-21.3
Successfully installed annotated-types-0.7.0 dataclasses-json-0.6.6 jsonpatch-1.33 jsonpointer-2.4 langchain-0.2.2 langchain-core-0.2.4 langchain-text-splitters-0.2.1 langchain_community-0.2.3 langsmith-0.1.74 marshmallow-3.21.3 orjson-3.10.3 packaging-23.2 pydantic-2.7.3 pydantic-core-2.18.4 tenacity-8.3.0 typing-extensions-4.12.1 typing-inspect-0.9.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.9.1 requires flatbuffers<2,>=1.12, but you have flatbuffers 23.5.26 which is incompatible.
tensorflow 2.9.1 requires gast<=0.4.0,>=0.2.1, but you have gast 0.5.3 which is incompatible.
tensorflow 2.9.1 requires protobuf<3.20,>=3.9.2, but you have protobuf 4.24.2 which is incompatible.
tensorflow 2.9.1 requires tensorflow-estimator<2.10.0,>=2.9.0rc0, but you have tensorflow-estimator 2.13.0 which is incompatible.

In [3]:
!python -m venv myenv

In [6]:
!myenv\Scripts\activate

In [7]:
!pip install langchain_community

Requirement already satisfied: langchain_community in c:\users\lenovo\anaconda3\lib\site-packages (0.2.3)
Requirement already satisfied: langchain-core<0.3.0,>=0.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (0.2.4)
Requirement already satisfied: tenacity<9.0.0,>=8.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (8.3.0)
Requirement already satisfied: PyYAML>=5.3 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (6.0)
Requirement already satisfied: numpy<2,>=1 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (1.24.3)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (3.8.3)
Requirement already satisfied: requests<3,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (2.28.1)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (1.4.39)
Requirement already satisfied: langsmith<0.2.0,>=0.1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (0.1.74)
Requirement already satisfied: langchain<0.3.0,>=0.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (0.2.2)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain_community) (0.6.6)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (6.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.3.3)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (4.0.2)
Requirement already satisfied: attrs>=17.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (21.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (2.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\lenovo\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.8.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in c:\users\lenovo\anaconda3\lib\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (3.21.3)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in c:\users\lenovo\anaconda3\lib\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (0.9.0)
Requirement already satisfied: pydantic<3,>=1 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain<0.3.0,>=0.2.0->langchain_community) (2.7.3)
Requirement already satisfied: langchain-text-splitters<0.3.0,>=0.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain<0.3.0,>=0.2.0->langchain_community) (0.2.1)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain-core<0.3.0,>=0.2.0->langchain_community) (1.33)
Requirement already satisfied: packaging<24.0,>=23.2 in c:\users\lenovo\anaconda3\lib\site-packages (from langchain-core<0.3.0,>=0.2.0->langchain_community) (23.2)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in c:\users\lenovo\anaconda3\lib\site-packages (from langsmith<0.2.0,>=0.1.0->langchain_community) (3.10.3)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2->langchain_community) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2->langchain_community) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2->langchain_community) (2023.7.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain_community) (1.1.1)
Requirement already satisfied: jsonpointer>=1.9 in c:\users\lenovo\anaconda3\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.3.0,>=0.2.0->langchain_community) (2.4)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pydantic<3,>=1->langchain<0.3.0,>=0.2.0->langchain_community) (4.12.1)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pydantic<3,>=1->langchain<0.3.0,>=0.2.0->langchain_community) (0.7.0)
Requirement already satisfied: pydantic-core==2.18.4 in c:\users\lenovo\anaconda3\lib\site-packages (from pydantic<3,>=1->langchain<0.3.0,>=0.2.0->langchain_community) (2.18.4)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community) (0.4.3)

In [8]:
from langchain_community.llms import Ollama

In [9]:
llm = Ollama(model="llama2")
llm.invoke("The first person on moon was ...")

'\nThe first person to walk on the moon was Neil Armstrong, an American astronaut who was part of the Apollo 11 mission in 1969. On July 20, 1969, Armstrong and fellow astronaut Edwin "Buzz" Aldrin landed their lunar module, Eagle, on the moon\'s surface and became the first humans to set foot on the moon. Armstrong famously declared, "That\'s one small step for man, one giant leap for mankind," as he stepped out of the lunar module and onto the moon\'s surface.'

### Read transaction data

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("transactions_2022_2023.csv")
df

          Date           Name / Description Expense/Income  Amount (EUR)
0   2023-12-30              Belastingdienst        Expense          9.96
1   2023-12-30                  Tesco Breda        Expense         17.53
2   2023-12-30      Monthly Appartment Rent        Expense        451.00
3   2023-12-30     Vishandel Sier Amsterdam        Expense         12.46
4   2023-12-29            Selling Paintings         Income         13.63
5   2023-12-29          Spotify Ab By Adyen        Expense         12.19
6   2023-12-23         Tk Maxx Amsterdam Da        Expense         27.08
7   2023-12-22                   Consulting         Income        541.57
8   2023-12-22                    Aidsfonds        Expense         10.70
9   2023-12-20                   Consulting         Income       2641.93
10  2023-12-19      Tls Bv Inz Ov-Chipkaart        Expense         18.90
11  2023-12-18               Etos Amsterdam        Expense         17.67
12  2023-12-18                  Tesco Breda        Expense          8.81
13  2023-12-18  Beta Boulders Ams Amsterdam        Expense          6.94
14  2022-11-26                       Salary         Income         14.36
15  2022-11-26     Bouldermuur Bv Amsterdam        Expense         19.27
16  2022-11-26  Birtat Restaurant Amsterdam        Expense         24.71
17  2022-11-25                  Tesco Breda        Expense         17.35
18  2022-11-24                  Freelancing         Income       2409.55
19  2022-11-19                       Tikkie        Expense         20.76
20  2022-10-25                     Blogging         Income       4044.27
21  2022-10-24                 Taxi Utrecht        Expense         18.90
22  2022-10-23                  Tesco Breda        Expense         27.54
23  2022-10-22               Apple Services        Expense         41.25
24  2022-10-21                  Tesco Breda        Expense         22.80
25  2022-01-16                   Amazon Lux        Expense         24.11
26  2022-01-15           Classpass* Monthly        Expense         30.08
27  2022-01-14   Audible Uk AdblCo/Pymt Gbr        Expense         11.00

In [12]:
unique_transactions = df["Name / Description"].unique()
len(unique_transactions)

23

In [13]:
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i
    yield stop

index_list = list(hop(0, len(unique_transactions), 30))
index_list

[0, 23]

In [14]:
def categorize_transactions(transaction_names, llm):
    response = llm.invoke("Can you add an appropriate category to the following expenses. For example: Spotify AB by Adyen - Entertainment, Beta Boulders Ams Amsterdam Nld - Sport, etc.. Categories should be less than 4 words. " + transaction_names)
    response = response.split('\n')

    print(response)

    categories_df = pd.DataFrame({'Transaction vs category': response})
    categories_df[['Transaction', 'Category']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
    
    return categories_df

In [15]:
# Test out the function
categorize_transactions('ISS Catering Services De Meern, Taxi Utrecht, Etos AMSTERDAM NLD, Bistro Bar Amsterdam',
                        llm)

['', 'Sure! Here are the appropriate categories for each expense:', '', '1. Spotify AB by Adyen - Entertainment', '2. ISS Catering Services De Meern - Food & Beverage', '3. Taxi Utrecht - Transportation', '4. Etos AMSTERDAM NLD - Grocery', '5. Bistro Bar Amsterdam - Food & Beverage']

,Transaction vs category,Transaction,Category
0,,,None
1,Sure! Here are the appropriate categories for ...,Sure! Here are the appropriate categories for ...,None
2,,,None
3,1. Spotify AB by Adyen - Entertainment,1. Spotify AB by Adyen,Entertainment
4,2. ISS Catering Services De Meern - Food & Bev...,2. ISS Catering Services De Meern,Food & Beverage
5,3. Taxi Utrecht - Transportation,3. Taxi Utrecht,Transportation
6,4. Etos AMSTERDAM NLD - Grocery,4. Etos AMSTERDAM NLD,Grocery
7,5. Bistro Bar Amsterdam - Food & Beverage,5. Bistro Bar Amsterdam,Food & Beverage

In [16]:
categories_df_all = pd.DataFrame()

for i in range(0, len(index_list)-1):
    transaction_names = unique_transactions[index_list[i]:index_list[i+1]]
    transaction_names = ','.join(transaction_names)

    categories_df = categorize_transactions(transaction_names, llm)
    categories_df_all = pd.concat([categories_df_all, categories_df], ignore_index=True)

['Sure! Here are the appropriate categories for each expense:', '', '1. Belastingdienst - Taxes', '2. Tesco Breda - Groceries', '3. Monthly Appartment Rent - Housing', '4. Vishandel Sier Amsterdam - Food Delivery', '5. Selling Paintings - Art & Design', '6. Spotify Ab By Adyen - Entertainment', '7. Tk Maxx Amsterdam Da - Shopping', '8. Consulting - Professional Services', '9. Aidsfonds - Donations', '10. TLS Bv Inz Ov-Chipkaart - Transportation', '11. Etos Amsterdam - Convenience Store', '12. Beta Boulders Ams Amsterdam - Sports & Fitness', '13. Salary - Personal Expenses', '14. Bouldermuur Bv Amsterdam - Home Improvement', '15. Birtat Restaurant Amsterdam - Dining Out', '16. Freelancing - Professional Services', '17. Tikkie - Financial Services', '18. Blogging - Writing & Content Creation', '19. Taxi Utrecht - Transportation', '20. Apple Services - Technology', '21. Amazon Lux - Online Shopping', '22. Classpass* Monthly - Fitness & Wellness', '23. Audible Uk AdblCo/Pymt Gbr - Entertainment', '', 'Note: I\'ve combined some categories to make them more specific, and added asterisks to indicate the category of some expenses that could fall under multiple categories (e.g., "Freelancing" could also be categorized as "Professional Services").']

In [17]:
categories_df_all

,Transaction vs category,Transaction,Category
0,Sure! Here are the appropriate categories for ...,Sure! Here are the appropriate categories for ...,None
1,,,None
2,1. Belastingdienst - Taxes,1. Belastingdienst,Taxes
3,2. Tesco Breda - Groceries,2. Tesco Breda,Groceries
4,3. Monthly Appartment Rent - Housing,3. Monthly Appartment Rent,Housing
5,4. Vishandel Sier Amsterdam - Food Delivery,4. Vishandel Sier Amsterdam,Food Delivery
6,5. Selling Paintings - Art & Design,5. Selling Paintings,Art & Design
7,6. Spotify Ab By Adyen - Entertainment,6. Spotify Ab By Adyen,Entertainment
8,7. Tk Maxx Amsterdam Da - Shopping,7. Tk Maxx Amsterdam Da,Shopping
9,8. Consulting - Professional Services,8. Consulting,Professional Services
10,9. Aidsfonds - Donations,9. Aidsfonds,Donations
11,10. TLS Bv Inz Ov-Chipkaart - Transportation,10. TLS Bv Inz Ov-Chipkaart,Transportation
12,11. Etos Amsterdam - Convenience Store,11. Etos Amsterdam,Convenience Store
13,12. Beta Boulders Ams Amsterdam - Sports & Fit...,12. Beta Boulders Ams Amsterdam,Sports & Fitness
14,13. Salary - Personal Expenses,13. Salary,Personal Expenses
15,14. Bouldermuur Bv Amsterdam - Home Improvement,14. Bouldermuur Bv Amsterdam,Home Improvement
16,15. Birtat Restaurant Amsterdam - Dining Out,15. Birtat Restaurant Amsterdam,Dining Out
17,16. Freelancing - Professional Services,16. Freelancing,Professional Services
18,17. Tikkie - Financial Services,17. Tikkie,Financial Services
19,18. Blogging - Writing & Content Creation,18. Blogging,Writing & Content Creation
20,19. Taxi Utrecht - Transportation,19. Taxi Utrecht,Transportation
21,20. Apple Services - Technology,20. Apple Services,Technology
22,21. Amazon Lux - Online Shopping,21. Amazon Lux,Online Shopping
23,22. Classpass* Monthly - Fitness & Wellness,22. Classpass* Monthly,Fitness & Wellness
24,23. Audible Uk AdblCo/Pymt Gbr - Entertainment,23. Audible Uk AdblCo/Pymt Gbr,Entertainment
25,,,None
26,Note: I've combined some categories to make th...,Note: I've combined some categories to make th...,None

In [18]:
categories_df_all.to_csv("categories_df_all.csv", index=False)

In [19]:
unique_categories = categories_df_all["Category"].unique()
unique_categories

array([None, 'Taxes', 'Groceries', 'Housing', 'Food Delivery',
       'Art & Design', 'Entertainment', 'Shopping',
       'Professional Services', 'Donations', 'Transportation',
       'Convenience Store', 'Sports & Fitness', 'Personal Expenses',
       'Home Improvement', 'Dining Out', 'Financial Services',
       'Writing & Content Creation', 'Technology', 'Online Shopping',
       'Fitness & Wellness'], dtype=object)

In [20]:
categories_df_all = categories_df_all.dropna()

# If category contains "Food", then categorise as "Food and Drinks"
categories_df_all.loc[categories_df_all['Category'].str.contains("Food"), 'Category'] = "Food and Drinks"
# If category contains "Clothing", then categorise as "Clothing"
categories_df_all.loc[categories_df_all['Category'].str.contains("Clothing"), 'Category'] = "Clothing"
# If category contains "Services", then categorise as "Services"
categories_df_all.loc[categories_df_all['Category'].str.contains("Services"), 'Category'] = "Services"
# If category contains "Health" or "Wellness", then categorise as "Health and Wellness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Health|Wellness"), 'Category'] = "Health and Wellness"
# If category contains "Sport", then categorise as "Sport
#  and Fitness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Sport"), 'Category'] = "Sport and Fitness"
# If category contains "Travel", then categorise as "Travel"
categories_df_all.loc[categories_df_all['Category'].str.contains("Travel"), 'Category'] = "Travel"

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_20364\968977610.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all.loc[categories_df_all['Category'].str.contains("Food"), 'Category'] = "Food and Drinks"
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_20364\968977610.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all.loc[categories_df_all['Category'].str.contains("Clothing"), 'Category'] = "Clothing"
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_20364\968977610.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all.loc[categories_df_all['Category'].str.contains("Services"), 'Category'] = "Services"
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_20364\968977610.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all.loc[categories_df_all['Category'].str.contains("Health|Wellness"), 'Category'] = "Health and Wellness"
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_20364\968977610.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all.loc[categories_df_all['Category'].str.contains("Sport"), 'Category'] = "Sport and Fitness"
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_20364\968977610.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all.loc[categories_df_all['Category'].str.contains("Travel"), 'Category'] = "Travel"

In [21]:
# Remove the numbering eg "1. " from Transaction column
categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')
categories_df_all

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_20364\2440992137.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_20364\2440992137.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')

,Transaction vs category,Transaction,Category
2,1. Belastingdienst - Taxes,Belastingdienst,Taxes
3,2. Tesco Breda - Groceries,Tesco Breda,Groceries
4,3. Monthly Appartment Rent - Housing,Monthly Appartment Rent,Housing
5,4. Vishandel Sier Amsterdam - Food Delivery,Vishandel Sier Amsterdam,Food and Drinks
6,5. Selling Paintings - Art & Design,Selling Paintings,Art & Design
7,6. Spotify Ab By Adyen - Entertainment,Spotify Ab By Adyen,Entertainment
8,7. Tk Maxx Amsterdam Da - Shopping,Tk Maxx Amsterdam Da,Shopping
9,8. Consulting - Professional Services,Consulting,Services
10,9. Aidsfonds - Donations,Aidsfonds,Donations
11,10. TLS Bv Inz Ov-Chipkaart - Transportation,TLS Bv Inz Ov-Chipkaart,Transportation
12,11. Etos Amsterdam - Convenience Store,Etos Amsterdam,Convenience Store
13,12. Beta Boulders Ams Amsterdam - Sports & Fit...,Beta Boulders Ams Amsterdam,Sport and Fitness
14,13. Salary - Personal Expenses,Salary,Personal Expenses
15,14. Bouldermuur Bv Amsterdam - Home Improvement,Bouldermuur Bv Amsterdam,Home Improvement
16,15. Birtat Restaurant Amsterdam - Dining Out,Birtat Restaurant Amsterdam,Dining Out
17,16. Freelancing - Professional Services,Freelancing,Services
18,17. Tikkie - Financial Services,Tikkie,Services
19,18. Blogging - Writing & Content Creation,Blogging,Writing & Content Creation
20,19. Taxi Utrecht - Transportation,Taxi Utrecht,Transportation
21,20. Apple Services - Technology,Apple Services,Technology
22,21. Amazon Lux - Online Shopping,Amazon Lux,Online Shopping
23,22. Classpass* Monthly - Fitness & Wellness,Classpass* Monthly,Health and Wellness
24,23. Audible Uk AdblCo/Pymt Gbr - Entertainment,Audible Uk AdblCo/Pymt Gbr,Entertainment

In [22]:
# Merge the categories_df_all with the transactions_2022_2023.csv dataframe (df)
df = pd.read_csv("transactions_2022_2023.csv")
df.loc[df['Name / Description'].str.contains("Spotify"), 'Name / Description'] = "Spotify Ab By Adyen"
df = pd.merge(df, categories_df_all, left_on='Name / Description', right_on='Transaction', how='left')
df

,Date,Name / Description,Expense/Income,Amount (EUR),Transaction vs category,Transaction,Category
0,2023-12-30,Belastingdienst,Expense,9.96,1. Belastingdienst - Taxes,Belastingdienst,Taxes
1,2023-12-30,Tesco Breda,Expense,17.53,2. Tesco Breda - Groceries,Tesco Breda,Groceries
2,2023-12-30,Monthly Appartment Rent,Expense,451.00,3. Monthly Appartment Rent - Housing,Monthly Appartment Rent,Housing
3,2023-12-30,Vishandel Sier Amsterdam,Expense,12.46,4. Vishandel Sier Amsterdam - Food Delivery,Vishandel Sier Amsterdam,Food and Drinks
4,2023-12-29,Selling Paintings,Income,13.63,5. Selling Paintings - Art & Design,Selling Paintings,Art & Design
5,2023-12-29,Spotify Ab By Adyen,Expense,12.19,6. Spotify Ab By Adyen - Entertainment,Spotify Ab By Adyen,Entertainment
6,2023-12-23,Tk Maxx Amsterdam Da,Expense,27.08,7. Tk Maxx Amsterdam Da - Shopping,Tk Maxx Amsterdam Da,Shopping
7,2023-12-22,Consulting,Income,541.57,8. Consulting - Professional Services,Consulting,Services
8,2023-12-22,Aidsfonds,Expense,10.70,9. Aidsfonds - Donations,Aidsfonds,Donations
9,2023-12-20,Consulting,Income,2641.93,8. Consulting - Professional Services,Consulting,Services
10,2023-12-19,Tls Bv Inz Ov-Chipkaart,Expense,18.90,NaN,NaN,NaN
11,2023-12-18,Etos Amsterdam,Expense,17.67,11. Etos Amsterdam - Convenience Store,Etos Amsterdam,Convenience Store
12,2023-12-18,Tesco Breda,Expense,8.81,2. Tesco Breda - Groceries,Tesco Breda,Groceries
13,2023-12-18,Beta Boulders Ams Amsterdam,Expense,6.94,12. Beta Boulders Ams Amsterdam - Sports & Fit...,Beta Boulders Ams Amsterdam,Sport and Fitness
14,2022-11-26,Salary,Income,14.36,13. Salary - Personal Expenses,Salary,Personal Expenses
15,2022-11-26,Bouldermuur Bv Amsterdam,Expense,19.27,14. Bouldermuur Bv Amsterdam - Home Improvement,Bouldermuur Bv Amsterdam,Home Improvement
16,2022-11-26,Birtat Restaurant Amsterdam,Expense,24.71,15. Birtat Restaurant Amsterdam - Dining Out,Birtat Restaurant Amsterdam,Dining Out
17,2022-11-25,Tesco Breda,Expense,17.35,2. Tesco Breda - Groceries,Tesco Breda,Groceries
18,2022-11-24,Freelancing,Income,2409.55,16. Freelancing - Professional Services,Freelancing,Services
19,2022-11-19,Tikkie,Expense,20.76,17. Tikkie - Financial Services,Tikkie,Services
20,2022-10-25,Blogging,Income,4044.27,18. Blogging - Writing & Content Creation,Blogging,Writing & Content Creation
21,2022-10-24,Taxi Utrecht,Expense,18.90,19. Taxi Utrecht - Transportation,Taxi Utrecht,Transportation
22,2022-10-23,Tesco Breda,Expense,27.54,2. Tesco Breda - Groceries,Tesco Breda,Groceries
23,2022-10-22,Apple Services,Expense,41.25,20. Apple Services - Technology,Apple Services,Technology
24,2022-10-21,Tesco Breda,Expense,22.80,2. Tesco Breda - Groceries,Tesco Breda,Groceries
25,2022-01-16,Amazon Lux,Expense,24.11,21. Amazon Lux - Online Shopping,Amazon Lux,Online Shopping
26,2022-01-15,Classpass* Monthly,Expense,30.08,22. Classpass* Monthly - Fitness & Wellness,Classpass* Monthly,Health and Wellness
27,2022-01-14,Audible Uk AdblCo/Pymt Gbr,Expense,11.00,23. Audible Uk AdblCo/Pymt Gbr - Entertainment,Audible Uk AdblCo/Pymt Gbr,Entertainment

In [23]:
df.to_csv("transactions_2022_2023_categorized.csv", index=False)